
h3 {
 font-family: 'Rye', cursive;
    }

h1 {
 font-family: 'Indie+Flower', cursive;
    }

.steak {
    height: 500px;
    width: 1350px;
  
}

.awesome {
    height: 350px;
    width: 350px;
    
}

.goat {
    height: 350px;
    width: 450px;
}

        